<%- include('../../partials/header.ejs')  %>
<div class="container-fluid py-3">      
    <div>
      <% if(history.length == 0){ %> 
        <h3 class="text-center">No withdraw request found yet!</h3>
      <% }else{ %> 
        <h3 class="text-center text-danger py-2">Total Withdraw Pending Request: <%= history.length%> </h3>
        <div class="table-responsive">
          <table class="table align-middle mb-0 bg-white">
              <thead class="bg-light table-dark">
                <tr>
                  <th>Withdraw id</th>
                  <th>User ID</th>
                  <th>Amount</th>
                  <th>Payment Number</th>
                  <th>Payment Method</th>
                  <th>Date</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody class="table-hover">
                <% for(let p of history){ %> 
                  <tr>
                    <td>
                      <div class="d-flex align-items-center">
                        <img
                            src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                            alt=""
                            style="width: 45px; height: 45px"
                            class="rounded-circle"
                            />
                        <div class="ms-3">
                          <p class="fw-bold mb-1"><a class="btn-link" href="/profile/<%= p.username %>"><%= p.username %></a></p>
                          <p class="text-muted mb-0"><%= p.email %></p>
                        </div>
                      </div>
                    </td>
                    <td>
                      <span class="badge badge-info rounded-pill d-inline"><a class="btn-link" href="/admin/user-withdraw?id=<%= p.user_id %>"><%= p.user_id %></a></span>
                    </td>
                    <td>
                      <p class="fw-normal mb-1">$<%= p.amount %></p>
                    </td>
                    <td><%= p.method %></td>
                    <td><%= p.number %></td>
                    <td><%= moment(p.createdAt) %></td>
                    <td>
                        <a href="/admin/withdraw-request-view?payment_id=<%=p.id%>" class="btn btn-sm btn-primary">Send Transaction</a>
                    </td>
                  </tr>
                <% }%> 
              </tbody>
            </table>
      </div>
      <% }%> 
    </div>
</div>
<%- include('../../partials/footer.ejs')  %>
</body>
</html>