<%- include('../user_partials/header.ejs') %> 

<div class="container-fluid py-2" style="background:#eee;height: 100vh;">
    <div class="container">
        <div class="my-4 bg-light p-5 shadow-sm pb-4 w-100 d-flex justify-content-center">
            <form action="/auth/change-password" method="post">
                
                <h3 class="mb-3 text-center">Change Your Password!</h3>
                <hr>
                <% if(notMatched){ %> 
                    <p class="text-center text-danger"><%= notMatched %> </p>
                <% }%>    
                <div class="form-outline mb-4">
                  <input name="old_password" type="text" minlength="5" maxlength="30" id="form1Example1" class="form-control <%= error.old_password ? 'is-invalid' : '' %> " required/>
                  <label class="form-label" for="form1Example1">Old Password</label>
                  <div class="invalid-feedback">
                    <%= error.old_password %> 
                  </div>
                </div>
              
              
                <div class="form-outline mb-4">
                  <input name="new_password1" type="text" minlength="5" maxlength="30" id="form1Example2" class="form-control <%= error.new_password1 ? 'is-invalid' : '' %> " required/>
                  <label class="form-label" for="form1Example2">New Password</label>
                  <div class="invalid-feedback">
                    <%= error.new_password1 %> 
                  </div>
                </div>

                <div class="form-outline mb-4">
                    <input name="new_password2" type="text" minlength="5" maxlength="30" id="ff" class="form-control  <%= error.new_password2 ? 'is-invalid' : '' %> " required/>
                    <label class="form-label" for="ff">Confirm New Password</label>
                    <div class="invalid-feedback">
                        <%= error.new_password2 %> 
                    </div>
                  </div>
              
            
              
                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block">Sign in</button>
              </form>
        </div>
    </div>
</div>
<%- include('../user_partials/footer.ejs') %> 