<%- include('../user_partials/header.ejs') %> 

<div class="container-fluid py-2" style="background:#eee;height: 100vh;">

  <% if(customError){ %> 
    <p class="py-2 bg-warning text-light text-center rounded"><%= customError %> </p>
  <% } %> 

  <% if(userProfile.length > 0){ %> 
    <h2 class="text-center fw-bold text-success mt-3">Congratulations!!</h2>
    <h3 class="text-dark py-3 text-center">You are referred by <span class="fw-bold"><%= userProfile[0].username %></span> </h3>
    <hr>
    <div class="d-flex  justify-content-center">
      <div class="card-container">
        <span class="pro">PRO</span>
        <img class="round" src="/images/user.png" alt="user" height="200" width="200"/>
        <h3 style="margin: 10px 0;"><%= userProfile[0].username %></h3>
        <h6 style="margin: 5px 0;
        text-transform: uppercase;">New York</h6>
        <p slot="font-size: 14px;
        line-height: 21px;">User interface designer and <br/> front-end developer</p>
        <div class="buttons">
          <button class="primary">
            <% if(total.length>0){ %> 
              Total Member: <%= total[0].total_member %> 
            <% }else{%> 
              Total Member: 1
            <% }%> 
          </button>
          <button class="primary ghost">
            Following
          </button>
        </div>
        
      </div>
    </div>
  <% }else{ %> 
    <h5 class="text-center text-danger fst-italic my-3">You need to refered someone to access our main features <br> like getting TASK, Buying Packages and Generate your refer link!. <br> <span class="text-success">Refer Now!</span></h5>
    <div class="container mt-4 d-flex  justify-content-center">
    <div class="shadow-sm bg-light p-4">
      <form action="/user/get-refered" method="post">
        <h4 class="my-3 mb-4">Refer People and Grow
          your community!</h4>
        <div class="form-outline mb-4">
          <input type="text" id="xx" name="refer_name" class="form-control" required/>
          <label class="form-label" for="xx">Refer Username</label>
        </div>

        <button type="submit" class="btn btn-primary btn-block">Refer Him</button>
      </form>
    </div>
      <% } %>  
    </div>
</div>
<%- include('../user_partials/footer.ejs') %> 