<%- include('../user_partials/header.ejs') %>

    <div class="container-fluid py-2" style="min-height: 100vh;background: #eee;">
        <div class="container mt-4">
            <div class="add-product-form d-md-flex justify-content-center p-2">
                <div class="card p-4 shadow-sm">
                    <form action="/user/pay" method="post" class="py-2">
                        <h4 class="mb-1">Make payment and earn money!</h4>
                        <hr>
                        <div class="py-3">
                            <center><h5 class="fst-italic">Bkash: 018229336756</h5></center>
                            <center><h5 class="fst-italic">Nagad: 0182293396763</h5></center>
                            <center><h5 class="fst-italic">Rocket: 01822933943</h5></center>
                        </div>
                        <hr>
                        <div class="form-outline mb-3">
                            <input class="form-control" disabled />
                            <label class="form-label">Package: <%= pkg[0].package_name %></label>
                        </div>
                        <input class="form-control" name="pkg_id" value="<%= pkg[0].PKG_ID %>" hidden />
                        <input class="form-control" name="pkg_sub_id" value="<%= pkg[0].pkg_sub_id %>" hidden />
                        <div class="form-outline mb-3">
                            <input class="form-control" disabled />
                            <label class="form-label">Price: $ <%= pkg[0].price %></label>
                        </div>
                        <div class="form-outline mb-3">
                            <input class="form-control" disabled />
                            <label class="form-label">Commision: <%= pkg[0].package_comission %>%</label>
                        </div>

                        <div class="mb-2">
                            <script>
                                function update() {
                                    var d = document.getElementById('country');
                                    var dText = d.options[d.selectedIndex].text;
                                    document.getElementById('result').value = dText
                                }
                            </script>
                            <select id="country" class="py-2 px-4 mb-3" onchange="update();"
                                style="width: 100%; outline: black">
                                <option class="py-2 px-5">Payment Method *</option>
                                <option class="py-2 px-5" value="Bkash">Bkash</option>
                                <option class="py-2 px-5" value="Nagad">Nagad</option>
                                <option class="py-2 px-5" value="Rocket">Rocket</option>
                            </select>
                            <input id="result" name="payment_method" value="" class="d-none">

                        </div>

                        <!-- quantity input -->
                        <div class="form-outline mb-3">
                            <input type="text" name="payment_number"  id="total_dollar" class="form-control" required/>
                            <label class="form-label" for="total_dollar">Payment Number *</label>
                        </div>

                        <div class="form-outline mb-3">
                            <input type="text" name="txid"  required id="total_dollar"
                                class="form-control"/>
                            <label class="form-label" for="total_dollar">Transaction ID *</label>
                        </div>

                        <!-- Submit button -->
                        <button type="submit" class="mt-4 btn btn-primary">Pay</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
    </div>
    <%- include('../user_partials/footer.ejs') %>