<%- include('../user_partials/header.ejs') %>

    <div class="container-fluid py-2" style="min-height: 100vh;background: #eee;">
        <div class="container mt-4">
            <div class="add-product-form d-md-flex justify-content-center p-2">
                <div class="bg-light p-4 shadow-sm">
                    <form action="/user/withdraw" method="post" class="py-2">
                        <h4 class="mb-1 text-center">Global Crypto Withdraw Money!</h4>
                        <hr>
                        <h4 class="text-center">We Accept</h4>
                        <div class="d-flex flex-column flex-md-row mb-3 justify-content-center">
                            <div class="p-2 my-1 border text-center text-dark mx-1 border  rounded"><img src="/images/trc.png" height="80" alt="bkash"></div>
                            <div class="p-2 my-1 border text-center text-dark mx-1 border  rounded"><img src="/images/payit.png" height="65" alt="bkash"></div>
                          </div>
                          <hr>
                        <div class="form-outline mb-3">
                            <input class="form-control" disabled />
                            <label class="form-label">Your Account Balance: $ <span class="fw-bold"><%= balanceInfo.balance %> </span> </label>
                        </div>
                        <div class="form-outline mb-4">
                            <input class="form-control <%= error ? 'is-invalid': '' %>" max="<%= balanceInfo.balance %>" name="amount" type="number" value="<%= value ? value : '' %>" required/>
                            <label class="form-label">Withdraw amount *</label>
                            <div class="invalid-feedback">
                                Amount should be less than <%= balanceInfo.balance %>
                            </div>
                        </div>
                        <div class="mb-2">
                            <script>
                                function update() {
                                    var d = document.getElementById('country');
                                    var dText = d.options[d.selectedIndex].text;
                                    document.getElementById('result').value = dText
                                }
                            </script>
                            <select id="country" class="py-2 px-4 mb-3" onchange="update();"
                                style="width: 100%; outline: black">
                                <option class="py-2 px-5">Payment Method *</option>
                                <option class="py-2 px-5" value="TRC20">TRC20</option>
                                <option class="py-2 px-5" value="PayIT">PayIT</option>
                            </select>
                            <input id="result" name="payment_method" value="" class="d-none" required>

                        </div>

                        
                        <!-- quantity input -->
                        <div class="form-outline mb-3">
                            <input type="text" name="payment_number" max="15"  id="total_dollar" class="form-control" required/>
                            <label class="form-label" for="total_dollar">Payment Number *</label>
                        </div>

                        <!-- Submit button -->
                        <button type="submit" class="mt-2 btn btn-success" style="width: 100%;">Withdraw</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
    </div>
    <%- include('../user_partials/footer.ejs') %>