<%- include('../partials/header/packageHead.ejs')  %>
<body>
  <div class="container py-5">
    <h3 class="text-center">We provide the best package, <span class="text-danger fw-bold"> Buy </span> and <span class="text-success fw-bold"> Earn </span> .</h3>
    <hr>
</div>
  <div class="pricing-table my-3">
    <div class="ptable-item">
      <div class="ptable-single">
        <div class="ptable-header">
          <div class="ptable-title">
            <h2>Silver</h2>
          </div>
          <div class="ptable-price">
            <h2><%= pkg[0].price %><span>TK</span></h2>
          </div>
        </div>
        <div class="ptable-body">
          <div class="ptable-description">
            <ul>
              <li>Silver</li>
              <li>Commision <%= pkg[0].package_comission %> %</li>
              <li>Customer Support</li>
              <li>Entry Level Package</li>
            </ul>
          </div>
        </div>
        <div class="ptable-footer">
          <div class="ptable-action">
            <a href="/packages/buy?package=<%= pkg[0].package_name %>">Buy Now</a>
          </div>
        </div>
      </div>
    </div>
  
    <div class="ptable-item featured-item">
      <div class="ptable-single ">
        <div class="ptable-header">
          <div class="ptable-status">
            <span>Hot</span>
          </div>
          <div class="ptable-title">
            <h2>Gold</h2>
          </div>
          <div class="ptable-price">
            <h2><%= pkg[1].price %><span>TK</span></h2>
          </div>
        </div>
        <div class="ptable-body">
          <div class="ptable-description">
            <ul>
              <li>Gold</li>
              <li>Commision <%= pkg[1].package_comission %> %</li>
              <li>Customer Support</li>
              <li>Most Selling Package</li>
            </ul>
          </div>
        </div>
        <div class="ptable-footer">
          <div class="ptable-action">
            <a href="/packages/buy?package=<%= pkg[1].package_name %>">Buy Now</a>
          </div>
        </div>
      </div>
    </div>
  
    <div class="ptable-item">
      <div class="ptable-single">
        <div class="ptable-header">
          <div class="ptable-title">
            <h2>Platinum</h2>
          </div>
          <div class="ptable-price">
            <h2><%= pkg[2].price %><span>TK</span></h2>
          </div>
        </div>
        <div class="ptable-body">
          <div class="ptable-description">
            <ul>
              <li>Platinium</li>
               <li>Commision <%= pkg[2].package_comission %> %</li>
              <li>Customer Support</li>
              <li>Master Package</li>
            </ul>
          </div>
        </div>
        <div class="ptable-footer">
          <div class="ptable-action">
            <a href="/packages/buy?package=<%= pkg[2].package_name %>">Buy Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include('../partials/footer.ejs')  %>
</body>
</html>