<%- include('../partials/header/head.ejs')  %>

    <div class="container-fluid" style="background-color: #eee!important; min-height: 100vh;">
        <div class="container py-5">
            <h3 class="text-primary text-center bg-white border py-3">Complete the task and earn <span class="text-danger">money !!</span></h3>

            <div class="shadow-sm bg-light">
               <% if(task.length==0){ %> 

                    <div class="card-body">
                        <h4 class="text-center">You need to apply for getting task. Click the button below.</h4>
                        <hr>
                        <center><a href="/task/create-task" class="btn btn-success">Apply for task</a></center>
                    </div>
                  
               <% }else{ %> 
                <div class="card-body">
                    <div class="gif text-center">
                        <img src="/images/giftbox.gif" alt="" style="max-height: 250px;" class="img-fluid">
                    </div>
                    <p class="text-center">Grab this giftbox and complete the following task.</p>

                    <div class="d-flex justify-content-center">
                        <a href="/packages" class="btn mx-1" style="background-color:#9FA6B2; color:black;">Upgrade package</a>
                        <% if(parseInt(task[0].remain_task) == 0){ %> 
                            <button class="btn btn-success mx-1">Task Finished</button>
                        <% }else{ %> 
                            <a href="/task/complete" class="btn btn-warning mx-1">Grab giftbox</a>
                        <% } %> 
                    </div>

                    <div class="mt-4 text-center">
                        <h4 class="text-danger fw-bold">Remaing Task: <%= task[0].remain_task %>  </h4>
                    </div>

                    <div class="mt-4">
                        <hr>
                        <h6 class="text-center">Your Dashboard (today)</h6>
                        <hr>

                        <div>
                            <div class="d-flex justify-content-evenly"> 
                                <h5 class="text-center text-success">Balance: $<span class="fw-bold"><%= task[0].balance %> </span></h5>
                                <h5 class="text-center text-danger mx-2">Pending Balance: $<span class="fw-bold"><%= user.pending_balance %> </span></h5>
                            </div>
                           

                           <div class="d-md-flex py-3 text-light">
                            <div class="card my-2 px-3 py-2 bg-success mx-1" style="width: 100%;">
                                <div class="card-header text-center"> Todays Earning</div>
                                <div class="card-body">
                                    <h4 class="text-center">$<%= task[0].todays_comission %></h4>
                                </div>
                            </div>
                            <div class="card my-2 px-3 py-2 bg-primary mx-1" style="width: 100%;">
                                <div class="card-header text-center"> Yesterday Earning</div>
                                <div class="card-body">
                                    <h4 class="text-center">$<%= task[0].yesterday %></h4>
                                </div>
                            </div>
                            <div class="card my-2 px-3 py-2 bg-secondary mx-1" style="width: 100%;">
                                <div class="card-header text-center">Pending Balance</div>
                                <div class="card-body">
                                    <h4 class="text-center">$ <%= user.pending_balance %></h4>
                                </div>
                            </div>
                           </div>
                        </div>
                    </div>
                </div>
               <% } %> 
            </div>
        </div>
    </div>

<%- include('../partials/footer.ejs')  %>
</body>
</html>