<%- include('../../partials/header.ejs')  %>
<div class="container-fluid py-3" style="background-color: #eee; min-height:90vh">      
    <div class="container py-5">
        <div class="bg-dark d-flex justify-content-evenly py-3 mb-5">

            <h5 class="text-center text-light mb-0">Username: Soikat</h5>
            <h5 class="text-center text-light mb-0">Buying Package: <%= bonus.pkg_info.package_name %></h5>
            <h5 class="text-center text-light mb-0">Price: $<%= bonus.pkg_info.price %></h5>
        </div>
        
      <div class="row justify-content-evenly">
        <% if(level1.length > 0) {%>
            <div class="col-sm-12 col-md-6 col-lg-3 mx-1">
                <div class="p-3 bg-light shadow-sm border border-primary border-2 rounded">
                    <p class="text-center fw-bold">Level 1 Info</p>
                    <hr>
                    <p>username: <span class="fst-italic"><a class="btn-link" href="/profile/<%=level1[0].username %>"><%=level1[0].username %> </a></span></p>
                    <p>Verification Status: <span class="badge badge-<%= level1[0].isVerified == 1? 'success' : 'danger' %> rounded-pill d-inline"><%= level1[0].isVerified == 1? 'Verified' : 'Non Verified' %> </span>
                    </p>
                    <p>Balance: <span class="fst-italic">$ <%=level1[0].balance %> </span></p>
                    <p class="bg-dark text-light rounded">Comission: <span class="fst-italic">$ <%= bonus.level1 %> </span></p>
                    <div>
                        <a href="/admin/give-comission?user_id=<%=level1[0].userID %>&payment_id=<%= bonus.payment_id %>&comission=<%= bonus.level1 %> " class="btn btn-sm btn-success">Give $<%= bonus.level1 %> </a>

                        <a href="/admin/back-comission?user_id=<%=level1[0].userID %>&payment_id=<%= bonus.payment_id %>&comission=<%= bonus.level1 %> " class="btn btn-sm btn-danger">Back $<%= bonus.level1 %></a>
                        
                    </div>
                </div>
            </div>
        <% }%> 
        <% if(level2.length > 0){ %>
            <div class="col-sm-12 col-md-6 col-lg-3 mx-1">
                <div class="p-3 bg-light shadow-sm border border-warning border-2 rounded">
                    <p class="text-center fw-bold">Level 2 Info</p>
                    <hr>
                    <p>username: <span class="fst-italic"><a class="btn-link" href="/profile/<%=level2[0].username %>"><%=level2[0].username %> </a></span></p>
                    <p>Verification Status: <span class="badge badge-<%= level2[0].isVerified == 1? 'success' : 'danger' %> rounded-pill d-inline"><%= level2[0].isVerified == 1? 'Verified' : 'Non Verified' %> </span>
                    </p>
                    <p>Balance: <span class="fst-italic">$ <%=level2[0].balance %> </span></p>
                    <p class="bg-dark text-light rounded">Comission: <span class="fst-italic">$ <%= bonus.level2 %> </span></p>
                    <div>
                        <a href="/admin/give-comission?user_id=<%=level2[0].userID %>&payment_id=<%= bonus.payment_id %>&comission=<%= bonus.level2 %> " class="btn btn-sm btn-success">Give $<%= bonus.level2 %> </a>

                        <a href="/admin/back-comission?user_id=<%=level2[0].userID %>&payment_id=<%= bonus.payment_id %>&comission=<%= bonus.level2 %> " class="btn btn-sm btn-danger">Back $<%= bonus.level2 %></a>
                    </div>
                </div>
            </div>
        <% } %> 
        
        <% if(level3.length > 0){ %>
            <div class="col-sm-12 col-md-6 col-lg-3 mx-1">
                <div class="p-3 bg-light shadow-sm border border-warning border-2 rounded">
                    <p class="text-center fw-bold">Level 3 Info</p>
                    <hr>
                    <p>username: <span class="fst-italic"><a class="btn-link" href="/profile/<%=level3[0].username %>"><%=level3[0].username %> </a></span></p>
                    <p>Verification Status: <span class="badge badge-<%= level3[0].isVerified == 1? 'success' : 'danger' %> rounded-pill d-inline"><%= level3[0].isVerified == 1? 'Verified' : 'Non Verified' %> </span>
                    </p>
                    <p>Balance: <span class="fst-italic">$<%=level3[0].balance %> </span></p>
                    <p class="bg-dark text-light rounded">Comission: <span class="fst-italic">$ <%= bonus.level3 %> </span></p>
                    <div>
                        <a href="/admin/give-comission?user_id=<%=level3[0].userID %>&payment_id=<%= bonus.payment_id %>&comission=<%= bonus.level3 %> " class="btn btn-sm btn-success">Give $<%= bonus.level3 %> </a>

                        <a href="/admin/back-comission?user_id=<%=level3[0].userID %>&payment_id=<%= bonus.payment_id %>&comission=<%= bonus.level3 %> " class="btn btn-sm btn-danger">Back $<%= bonus.level3 %></a>
                    </div>
                </div>
            </div>
        <% } %> 
      </div>
      <div class="my-5 p-5 shadow-sm bg-light">
        <p class="text-center fw-bold fst-italic text-primary">Package Buyer Info</p>
        <hr>
        <p class="mb-0">Package Name: <span class="fw-bold"><%= bonus.pkg_info.package_name %></span> </p>
        <p class="mb-0">Package Name: <span class="fw-bold">$<%= bonus.pkg_info.price %></span> </p>
        <p class="mb-0">Username: <span class="fw-bold"><%= bonus.pkg_buyer[0].username %></span> </p>
        <p class="mb-0">Verification Status: <span class="badge badge-<%= bonus.pkg_buyer[0].isVerified == 1? 'success' : 'danger' %> rounded-pill d-inline"><%= bonus.pkg_buyer[0].isVerified == 1? 'Verified' : 'Non Verified' %> </span>
        </p>
        <p class="mb-0">Balance: $ <span class="fw-bold"><%= bonus.pkg_buyer[0].balance %></span></p>
        <div class="mt-3">
            <a href="/admin/give-comission?user_id=<%=bonus.pkg_buyer[0].id %>&payment_id=<%= bonus.payment_id %>&comission=<%= bonus.pkg_info.price %>" class="btn btn-sm btn-dark">Updata Balance $<%= bonus.pkg_info.price %> </a>

            <a href="/admin/back-comission?user_id=<%=bonus.pkg_buyer[0].id %>&payment_id=<%= bonus.payment_id %>&comission=<%= bonus.pkg_info.price %> " class="btn btn-sm btn-danger">Back $<%= bonus.pkg_info.price %></a>
        </div>
        <hr>
       
        <a href="/admin/approve-pkg?pkg_sub_id=<%= bonus.pkg_info.pkg_sub_id %> " class="btn btn-primary btn-block">Approve This request!</a>
       
      </div>
    </div>
</div>
<%- include('../../partials/footer.ejs')  %>
</body>
</html>